/* You can add global styles to this file, and also import other style files */
@import "leaflet/dist/leaflet.css";
@import "tailwindcss";

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.dashboard {
    text-align: center;
}

h2 {
    background: #1976d2;
    color: white;
    padding: 15px;
    margin: 0;
}

.map-container {
    height: calc(100vh - 70px);
}