/* You can add global styles to this file, and also import other style files */
@import "leaflet/dist/leaflet.css";

html,
body {
    height: 100%;
    margin: 0;
}

.dashboard {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h2 {
    background: #1976d2;
    color: white;
    padding: 15px;
    margin: 0;
}

app-map {
    flex: 1;
}